<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titolo}">Insert title here</title>
</head>
<body>
	
	<div class="container">
	
		<h1 th:text="${titolo}">Elenco viaggi</h1>
		
		<form action="viaggi" method="post">
		
		<input type="hidden" name="id" value="0">
		
		<div>
			<label for="dest">destinazione</label>		
			<input type="text" name="destinazione" id="dest" placeholder="destinazione">
		</div>
		<div>
			<label for="giorni">durata</label>		
			<input type="number" name="giorni" id="giorni" placeholder="giorni">
		</div>
		<div>
			<label for="dest">prezzo</label>		
			<input type="number" name="prezzo" id="prezzo" placeholder="prezzo">
		</div>
		
		<input type="submit" value="add">
		
		</form>
		
		
	</div>	
</body>
</html>